/* CSS Rest */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Main Background Image */
body{
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

html{
    font-size: 62.5%;
    width: 800px;
    margin: 0 auto;
}

.container{
    background: #a5e2fa;
}

#name{
    font-family: 'Sail', cursive;
    color: #c6d3f5;
}

#myImg{
    width: 200px;
    height: 200px;
}

header{
    background: #0727a8;
};
}

header{
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
}

header h1{
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 600%;
}

/* Navigation Style Settings */
header nav a{
    font-size: 180%;
    text-decoration: none;
    color: white;
    text-align: center;
    background: #5774eb;
    border: 2px solid #c6d3f5;
}

a{
    padding: 0.5rem;
}

a:hover{
    transform: scale(2);
}

nav{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Setting flex for my images section */
.images{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Adding padding, margin and border around ALL images. */
img{
    padding:  1rem;
    margin: 1rem;
    border: 1px solid blue;
}

.sectionOne{
    font-family: 'Prociono';
    font-size: 200%;
    padding: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.sectionOne h2{
    font-size: 210%;
}

.sectionOne p{
    width: 300px;
    text-align: center;
}

.alignText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    font-family: 'Prociono';
    background: #0727a8;
    font-size: 200%;
    text-align: center;
    width: 100%;
}

.contactMe h3{
    padding: 0.5rem;
    margin: 0.5rem;
    color: #c6d3f5;
}

#contactMe{
    text-decoration: none;
    color: white;
}

#contactMe:hover{
    color: yellow;
}







